@{
	ViewBag.Title = "Home Page";
}
@model BillingRecord.Models.ViewModels.BillingInfoViewModel

@using (Ajax.BeginForm(new AjaxOptions
{
	UpdateTargetId = "ajax",
	Url = Url.Action("Create", "Home")
}))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.Partial("_BillingForm")
}

<div id="ajax">
	@Html.Action("RecordList")
</div>

@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryajax")
}
