@{
	ViewBag.Title = "Home Page";
}
@model BillingRecord.Models.ViewModels.SearchRecordViewModel

<h2>記賬紀錄</h2>

@using (Html.BeginForm("MonthRecord", "Home"))
{
	<div class="container body-content">
		<div class="well">
			<div class="form-group">
				@Html.LabelFor(x => x.SearchMonth, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-2">
					@Html.EditorFor(x => x.SearchMonth, new { htmlAttribute = new { @class = "form-control" } })
					@Html.ValidationMessageFor(x => x.SearchMonth, "", new { @class = "text-danger" })
				</div>
				<button type="submit" class="btn btn-default">搜尋</button>
			</div>
		</div>
	</div>
}

@Html.Action("RecordList")

@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
