@{
	ViewBag.Title = "RecordList";
	Layout = null;
}

@using BillingRecord.Models.ViewModels
@model List<BillingInfoViewModel>

@helper BillingType(BillingInfoViewModel.BillingType type)
{
	if (type == BillingInfoViewModel.BillingType.Income)
	{
		<td style="color:blue">@type</td>
	}
	else
	{
		<td style="color:red">@type</td>
	}
}

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tr>
				<th>#</th>
				<th>類別</th>
				<th>日期</th>
				<th>金額</th>
			</tr>
			@{var index = 0;}
			@foreach (var record in Model)
			{
				<tr>
					<td>@(++index)</td>
					@BillingType(record.Type)
					<td>@record.Date.ToString("yyyy.MM.dd")</td>
					<td>@record.Amount</td>
				</tr>
			}
		</table>
	</div>
</div>
