@{
	ViewBag.Title = "RecordList";
	Layout = null;
}

@using BillingRecord.Models.ViewModels
@using PagedList.Mvc
@using PagedList

@{
	var editMode = ViewBag.EditMode != null && ViewBag.EditMode;
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tr>
				<th>#</th>
				<th>類別</th>
				<th>日期</th>
				<th>金額</th>
				@if (ViewBag.EditMode != null && ViewBag.EditMode)
				{
					<th>管理</th>
				}
			</tr>
			@{var index = 0;}
			@foreach (var record in ViewBag.OnePageOfProducts)
			{
				<tr>
					<td>@(++index)</td>
					<td style="color:@((record.Type == BillingInfoViewModel.BillingType.Income)
										? "blue" : "red")">@record.Type</td>
					<td>@record.Date.ToString("yyyy.MM.dd")</td>
					<td>@record.Amount</td>
					@if (editMode)
					{
						<td>
							@Html.ActionLink("編輯", "Edit", new { area = "", id = record.Id }) |
							@Html.ActionLink("詳情", "Detail", new { area = "", id = record.Id }) |
							@Html.ActionLink("刪除", "Delete", new { area = "", id = record.Id })
						</td>
					}
				</tr>
			}
		</table>
	</div>
</div>
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action(editMode ? "Manage" : "Index", new { page }))